<div class="modal-header">
    <h3>Title</h3>
</div>
<div class="modal-body">
    <div data-ng-show="!data.content" data-loading></div>
    <div data-ng-show="data.content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis ligula id tincidunt euismod. Morbi adipiscing magna eget arcu adipiscing, a elementum enim lacinia. Nunc erat sem, tincidunt a tellus non, imperdiet venenatis dolor. Vivamus nec ante non orci egestas gravida. Nam sem nulla, tincidunt et venenatis eget, convallis at neque. Suspendisse mollis fermentum est eget elementum. Nulla volutpat egestas tellus, et lacinia nisl gravida ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ut ligula pulvinar mi consectetur consectetur eu et mauris.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="close()">OK</button>
</div>
